<?xml version="1.0"?>
<Tests>
<!--
		Tag  :    [YCSB_RocksDB]
		Aim  :    Study write performance of YCSB on RocksDB 
	    Trace:    traces/real_trace_files/ycsb_rocksdb_snia/ssdtrace-ascii-write-only-all
	-->
	<Suite name="YCSB_RocksDB" desc="Study write performance of YCSB on RocksDB"
	       run="false">
		<Test desc="CDPW" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_CDPW.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="CDWP" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_CDWP.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="CPDW" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_CPDW.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="CPWD" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_CPWD.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="CWDP" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_CWDP.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="CWPD" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_CWPD.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="DCPW" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_DCPW.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="DCWP"  request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_DCWP.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="DPCW" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_DPCW.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="DPWC" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_DPWC.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="DWCP" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_DWCP.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="DWPC" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_DWPC.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="PCDW" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_PCDW.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="PCWD" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_PCWD.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="PDCW" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_PDCW.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="PDWC" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_PDWC.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="PWCD" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_PWCD.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="PWDC" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_PWDC.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="WCDP" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_WCDP.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="WCPD" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_WCPD.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="WDCP" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_WDCP.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="WDPC" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_WDPC.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="WPCD" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_WPCD.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="WPDC" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256'>
			<SSDConfig>workload/YCSB_RocksDB/ssdconfig/ssdconfig_zone_WPDC.xml</SSDConfig>
			<Workload>workload/YCSB_RocksDB/workload_ycsb_rocksdb.xml</Workload>
		</Test>
	</Suite>
	<!--
		Tag  :    [BeginZone]
		Aim  :    Study starting zone number effect
	    Trace:    sequential_write_[4KB..64MB]_from_zone[1,17,..,113]_1GB
		Page Allocation: 
	-->
	<Suite name="BeginZone" desc="Examine difference of beginning zone number"
	       run="false">
		<Test desc="Zone_1">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_1.xml</Workload>
		</Test>
		<Test desc="Zone_2">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_2.xml</Workload>
		</Test>
		<Test desc="Zone_3">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_3.xml</Workload>
		</Test>
		<Test desc="Zone_4">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_4.xml</Workload>
		</Test>
		<Test desc="Zone_5">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_5.xml</Workload>
		</Test>
		<Test desc="Zone_6">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_6.xml</Workload>
		</Test>
		<Test desc="Zone_7">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_7.xml</Workload>
		</Test>
		<Test desc="Zone_8">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_8.xml</Workload>
		</Test>
	</Suite>
	
	<!--
		Tag  :    [IndHW]
		Aim  :    Study Channel, Chip, Die, Plane write effects 
	    Trace:    sequential_write_[4KB..16MB]_from_zone1_4GB
	-->
	<Suite name="IndHW" desc="Study Channel, Chip, Die, Plane write effects"
		   run="false">
		<Test desc="Minimum pallelism as baseline 1111">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_min_effect.xml</Workload>
		</Test>
		<Test desc="Maximum pallelism as baseline 4222">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_max_effect.xml</Workload>
		</Test>
		<Test desc="channel_effect_4111">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_channel_effect.xml</Workload>
		</Test>
		<Test desc="chip_effect_1211">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_chip_effect.xml</Workload>
		</Test>
		<Test desc="die_effect_1121">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_die_effect.xml</Workload>
		</Test>
		<Test desc="plane_effect_1112">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_plane_effect.xml</Workload>
		</Test>
	</Suite>
	<!--
		Tag  :    [ZoneSize]
		Aim  :    Study various zone size and zone/req size ratio
	    Trace:    sequential_write_[4KB..16MB]_from_zone1_4GB
	-->
	<Suite name="ZoneSize" desc="Study various zone size and zone/req size ratio"
		   run="false">
		<Test desc="96MB" request_size='8KB' workload_type='Var' workload_type2='Var' write_percent='Var' zone_size='96MB'>
			<SSDConfig>workload/ZoneSize/ssdconfig/ssdconfig_zone_96.xml</SSDConfig>
			<Workload>workload/ZoneSize/workload_zone_max_5G.xml</Workload>
		</Test>
		<Test desc="256MB" request_size='8KB' workload_type='Var' workload_type2='Var' write_percent='Vars' zone_size='256MB'>
			<SSDConfig>workload/ZoneSize/ssdconfig/ssdconfig_zone_256.xml</SSDConfig>
			<Workload>workload/ZoneSize/workload_zone_max_5G.xml</Workload>
		</Test>
		<Test desc="512MB" request_size='8KB' workload_type='Var' workload_type2='Var' write_percent='Vars' zone_size='512MB'>
			<SSDConfig>workload/ZoneSize/ssdconfig/ssdconfig_zone_512.xml</SSDConfig>
			<Workload>workload/ZoneSize/workload_zone_max_5G.xml</Workload>
		</Test>
		<Test desc="1GB" request_size='8KB' workload_type='Var' workload_type2='Var' write_percent='Vars' zone_size='1GB'>
			<SSDConfig>workload/ZoneSize/ssdconfig/ssdconfig_zone_1024.xml</SSDConfig>
			<Workload>workload/ZoneSize/workload_zone_max_5G.xml</Workload>
		</Test>
		<Test desc="2.19GB" request_size='8KB' workload_type='Var' workload_type2='Var' write_percent='Vars' zone_size='2.19GB'>
			<SSDConfig>workload/ZoneSize/ssdconfig/ssdconfig_zone_2066.xml</SSDConfig>
			<Workload>workload/ZoneSize/workload_zone_max_5G.xml</Workload>
		</Test>
	</Suite>
	<!--
		Tag  :    [ZoneSizeReal]
		Aim  :    Study various zone size with real YCSB-RocksDB trace
	    Trace:    YCSB_RocksDB/workload_ycsb_rocksdb.xml
	-->
	<Suite name="ZoneSizeReal" desc="Study various zone size with real YCSB-RocksDB trace"
		   run="true">
		<Test desc="96MB" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='96MB'>
			<SSDConfig>workload/ZoneSizeReal/ssdconfig/ssdconfig_zone_96.xml</SSDConfig>
			<Workload>workload/ZoneSizeReal/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="256MB" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='256MB'>
			<SSDConfig>workload/ZoneSizeReal/ssdconfig/ssdconfig_zone_256.xml</SSDConfig>
			<Workload>workload/ZoneSizeReal/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="512MB" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='512MB'>
			<SSDConfig>workload/ZoneSizeReal/ssdconfig/ssdconfig_zone_512.xml</SSDConfig>
			<Workload>workload/ZoneSizeReal/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="1GB" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='1GB'>
			<SSDConfig>workload/ZoneSizeReal/ssdconfig/ssdconfig_zone_1024.xml</SSDConfig>
			<Workload>workload/ZoneSizeReal/workload_ycsb_rocksdb.xml</Workload>
		</Test>
		<Test desc="2.19GB" request_size='' workload_type='' workload_type2='' write_percent='' zone_size='2.19GB'>
			<SSDConfig>workload/ZoneSizeReal/ssdconfig/ssdconfig_zone_2066.xml</SSDConfig>
			<Workload>workload/ZoneSizeReal/workload_ycsb_rocksdb.xml</Workload>
		</Test>
	</Suite>
\
	<!--
		Tag  :    [MultiStream]
		Aim  :    Study mutiple stream accessing the same time
	    Trace:    sequential_write_4KB_from_zone1_1GB
		Page Allocation: 
	-->
	<Suite name="MultiStream" desc="Examine number of streams affecting performance with Var Var 8KB request default CWDP plane allocation"
	       run="false">
		<Test desc="one_stream" request_size='8KB' workload_type='Var' workload_type2='Var' write_percent='100' zone_size='256'>
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/MultiStream/workload_multi_1.xml</Workload>
		</Test>
		 <Test desc="two_stream" request_size='8KB' workload_type='Var' workload_type2='Var' write_percent='100' zone_size='256'>
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/MultiStream/workload_multi_2.xml</Workload>
		</Test>
		<Test desc="three_stream" request_size='8KB' workload_type='Var' workload_type2='Var' write_percent='100' zone_size='256'>
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/MultiStream/workload_multi_3.xml</Workload>
		</Test>
		<Test desc="four_stream" request_size='8KB' workload_type='Var' workload_type2='Var' write_percent='100' zone_size='256' >
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/MultiStream/workload_multi_4.xml</Workload>
		</Test>
	</Suite>

	<Suite name="RequestSize" desc="Var/mix Var request in size [4,8,16,32,64] with ssdconfig_zone and default CWDP"
		   run="false">
		<Test desc="4KB" request_size='4KB' workload_type='Var' workload_type2='Var' write_percent='Var' zone_size='256' intensity='60us'>
			<SSDConfig>workload/RequestSize/ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/RequestSize/workload_zone_4KB.xml</Workload>
		</Test>
		<Test desc="8KB" request_size='8KB' workload_type='Var' workload_type2='Var' write_percent='Var' zone_size='256' intensity='60us'>
			<SSDConfig>workload/RequestSize/ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/RequestSize/workload_zone_8KB.xml</Workload>
		</Test>
		<Test desc="16KB" request_size='16KB' workload_type='Var' workload_type2='Var' write_percent='Var' zone_size='256' intensity='60us'>
			<SSDConfig>workload/RequestSize/ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/RequestSize/workload_zone_16KB.xml</Workload>
		</Test>
		<Test desc="32KB" request_size='32KB' workload_type='Var' workload_type2='Var' write_percent='Var' zone_size='256' intensity='60us'>
			<SSDConfig>workload/RequestSize/ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/RequestSize/workload_zone_32KB.xml</Workload>
		</Test>
		<Test desc="64KB" request_size='64KB' workload_type='Var' workload_type2='Var' write_percent='Var' zone_size='256' intensity='60us'>
			<SSDConfig>workload/RequestSize/ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/RequestSize/workload_zone_64KB.xml</Workload>
		</Test>
	</Suite>

	<!--
		Tag  :    [PageMap]
		Aim  :    Study page mapping affecting internal paralellism
	    Trace:    sequential_write_[4KB, 8KB, 16KB, 32KB]_from_zone1_1GB
		Block Allocation:
		
	-->
	<Suite name="PageMapIntensity" desc="Test intensity"
		   run="false">
		<Test desc="CDPW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_CDPW.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="CDWP" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_CDWP.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="CPDW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_CPDW.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="CPWD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_CPWD.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="CWDP" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_CWDP.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="CWPD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_CWPD.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DCPW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_DCPW.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DCWP"  request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_DCWP.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DPCW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_DPCW.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DPWC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_DPWC.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DWCP" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_DWCP.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DWPC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_DWPC.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PCDW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_PCDW.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PCWD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_PCWD.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PDCW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_PDCW.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PDWC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_PDWC.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PWCD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_PWCD.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PWDC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_PWDC.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WCDP" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_WCDP.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WCPD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_WCPD.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WDCP" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_WDCP.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WDPC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_WDPC.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WPCD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_WPCD.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WPDC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMapIntensity/ssdconfig/ssdconfig_zone_WPDC.xml</SSDConfig>
			<Workload>workload/PageMapIntensity/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
	</Suite>
</Tests>

