<?xml version="1.0"?>
<Tests>
	<!--
		Tag  :    [BeginZone]
		Aim  :    Study starting zone number effect
	    Trace:    sequential_write_[4KB..64MB]_from_zone[1,17,..,113]_1GB
		Page Allocation: 
	-->
	<Suite name="BeginZone" desc="Examine difference of beginning zone number~1"
	       run="false">
		<Test desc="Zone number starts from 1">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_1.xml</Workload>
		</Test>
		<Test desc="Zone number starts from 2">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_2.xml</Workload>
		</Test>
		<Test desc="Zone number starts from 3">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_3.xml</Workload>
		</Test>
		<Test desc="Zone number starts from 4">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_4.xml</Workload>
		</Test>
		<Test desc="Zone number starts from 5">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_5.xml</Workload>
		</Test>
		<Test desc="Zone number starts from 6">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_6.xml</Workload>
		</Test>
		<Test desc="Zone number starts from 7">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_7.xml</Workload>
		</Test>
		<Test desc="Zone number starts from 8">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/BeginZone/workload_zone_beginning_zone_8.xml</Workload>
		</Test>
	</Suite>
	
	<!--
		Tag  :    [IndHW]
		Aim  :    Study Channel, Chip, Die, Plane write effects 
	    Trace:    sequential_write_[4KB..16MB]_from_zone1_4GB
	-->
	<Suite name="IndHW" desc="Study Channel, Chip, Die, Plane write effects"
		   run="false">
		<Test desc="Minimum pallelism as baseline 1111">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_min_effect.xml</Workload>
		</Test>
		<Test desc="Maximum pallelism as baseline 4222">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_max_effect.xml</Workload>
		</Test>
		<Test desc="Examine channel parallelism effect 4111">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_channel_effect.xml</Workload>
		</Test>
		<Test desc="Examine chip parallelism effect 1211">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_chip_effect.xml</Workload>
		</Test>
		<Test desc="Examine die parallelism effect 1121">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_die_effect.xml</Workload>
		</Test>
		<Test desc="Examine plane parallelism effect 1112">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/IndHW/workload_zone_plane_effect.xml</Workload>
		</Test>
	</Suite>
	<!--
		Tag  :    [ZoneSize]
		Aim  :    Study various zone size and zone/req size ratio
	    Trace:    sequential_write_[4KB..16MB]_from_zone1_4GB
	-->
	<Suite name="ZoneSize" desc="Study various zone size and zone/req size ratio"
		   run="false">
		<Test desc="96MB">
			<SSDConfig>workload/ZoneSize/ssdconfig/ssdconfig_zone_96.xml</SSDConfig>
			<Workload>workload/ZoneSize/workload_zone_max_96.xml</Workload>
		</Test>
		<Test desc="256MB">
			<SSDConfig>workload/ZoneSize/ssdconfig/ssdconfig_zone_256.xml</SSDConfig>
			<Workload>workload/ZoneSize/workload_zone_max_256.xml</Workload>
		</Test>
		<Test desc="512MB">
			<SSDConfig>workload/ZoneSize/ssdconfig/ssdconfig_zone_512.xml</SSDConfig>
			<Workload>workload/ZoneSize/workload_zone_max_512.xml</Workload>
		</Test>
		<Test desc="1GB">
			<SSDConfig>workload/ZoneSize/ssdconfig/ssdconfig_zone_1024.xml</SSDConfig>
			<Workload>workload/ZoneSize/workload_zone_max_1024.xml</Workload>
		</Test>
		<Test desc="2.19GB">
			<SSDConfig>workload/ZoneSize/ssdconfig/ssdconfig_zone_2066.xml</SSDConfig>
			<Workload>workload/ZoneSize/workload_zone_max_2066.xml</Workload>
		</Test>
	</Suite>
	<!--
		Tag  :    [MultiStream]
		Aim  :    Study mutiple stream accessing the same time
	    Trace:    sequential_write_4KB_from_zone1_1GB
		Page Allocation: 
	-->
	<Suite name="MultiStream" desc="Examine number of streams affecting performance"
	       run="true">
		<Test id='ms01' desc="one_stream" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/MultiStream/workload_multi_1.xml</Workload>
		</Test>
		<!-- <Test desc="Zone number starts from 2">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/MultiStream/workload_multi_2.xml</Workload>
		</Test>
		<Test desc="Zone number starts from 3">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/MultiStream/workload_multi_3.xml</Workload>
		</Test>
		<Test desc="Zone number starts from 4">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/MultiStream/workload_multi_4.xml</Workload>
		</Test>
		<Test desc="Zone number starts from 4">
			<SSDConfig>ssdconfig_zone.xml</SSDConfig>
			<Workload>workload/MultiStream/workload_multi_4_seq_zone.xml</Workload>
		</Test> -->
	</Suite>

	<!--
		Tag  :    [PageMap]
		Aim  :    Study page mapping affecting internal paralellism
	    Trace:    sequential_write_[4KB, 8KB, 16KB, 32KB]_from_zone1_1GB
		Block Allocation:
		
	-->
	<Suite name="PageMap" desc="Study page mapping affecting internal paralellism"
		   run="true">
		<Test desc="CDPW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_CDPW.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="CDWP" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_CDWP.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<!--<Test desc="CPDW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_CPDW.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="CPWD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_CPWD.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="CWDP" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_CWDP.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="CWPD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_CWPD.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DCPW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_DCPW.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DCWP"  request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_DCWP.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DPCW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_DPCW.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DPWC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_DPWC.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DWCP" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_DWCP.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="DWPC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_DWPC.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PCDW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_PCDW.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PCWD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_PCWD.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PDCW" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_PDCW.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PDWC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_PDWC.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PWCD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_PWCD.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="PWDC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_PWDC.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WCDP" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_WCDP.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WCPD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_WCPD.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WDCP" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_WDCP.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WDPC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_WDPC.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WPCD" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_WPCD.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test>
		<Test desc="WPDC" request_size='8KB' workload_type='sequential' workload_type2='write' write_percent='100' zone_size='256'>
			<SSDConfig>workload/PageMap/ssdconfig/ssdconfig_zone_WPDC.xml</SSDConfig>
			<Workload>workload/PageMap/workload_zone_write_8KB_intensity.xml</Workload>
		</Test> -->
	</Suite>
</Tests>

